<!DOCTYPE html>
<html>
    <head>
        <title>DAB 111</title>
        
    </head>
    <body>
        <h1>Data Display</h1>
        <p>Welcome to Group 11's Website</p>
        <ul>
            <li><a href="{{ url_for('about') }}">Link To About page</a></li>
            <li><a href="{{ url_for('data') }}">Link To Data page</a></li>
        </ul>

        <br />
        <h2>Contributors</h2>
        <ol>
            <li>Ricardo Aquino - 0848643</li>
            <li>Emmanuel Chukwuma - 0859030</li>
            <li>Gregory Odiase - 0860530</li>
        </ol>

        <br />

        <footer>
            <p>&copy; 2024 Group 11, Section 3. All rights reserved.</p>
        </footer>
    </body>
</html>